# IDE
*.iml
.vscode/
.idea/

# Java Build
*.bak
*.jfr
*.log
dependency-reduced-pom.xml
pom.xml.versionsBackup
target/

# Python Build
__pycache__/
*.pyc
.ruff_cache
venv/
downloaded_files/

# Tracker details
screenshots/
trackers.csv

# vim
*.swp

# Claude config
!settings.local.json
